@model DigitalAwareness.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="text-center">Digital Awareness - Register</h4>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Email" class="form-label"></label>
                                    <input asp-for="Email" class="form-control" placeholder="Enter email" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="PhoneNumber" class="form-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="FirstName" class="form-label"></label>
                                    <input asp-for="FirstName" class="form-control" placeholder="First name" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="LastName" class="form-label"></label>
                                    <input asp-for="LastName" class="form-control" placeholder="Last name" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group mb-3">
                                    <label asp-for="FatherName" class="form-label"></label>
                                    <input asp-for="FatherName" class="form-control" placeholder="Father's name" />
                                    <span asp-validation-for="FatherName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Gender" class="form-label"></label>
                                    <select asp-for="Gender" class="form-control">
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="BirthDate" class="form-label"></label>
                                    <input asp-for="BirthDate" class="form-control" type="date" />
                                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Designation" class="form-label"></label>
                            <select asp-for="Designation" class="form-control">
                                <option value="">Select Designation</option>
                                @foreach (var designation in ViewBag.Designations as List<string>)
                                {
                                    <option value="@designation">@designation</option>
                                }
                            </select>
                            <span asp-validation-for="Designation" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Village" class="form-label"></label>
                                    <input asp-for="Village" class="form-control" placeholder="Village" />
                                    <span asp-validation-for="Village" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Post" class="form-label"></label>
                                    <input asp-for="Post" class="form-control" placeholder="Post" />
                                    <span asp-validation-for="Post" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Block" class="form-label"></label>
                                    <input asp-for="Block" class="form-control" placeholder="Block" />
                                    <span asp-validation-for="Block" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Pincode" class="form-label"></label>
                                    <input asp-for="Pincode" class="form-control" placeholder="Pincode" />
                                    <span asp-validation-for="Pincode" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="State" class="form-label"></label>
                                    <select asp-for="State" class="form-control" id="stateSelect">
                                        <option value="">Select State</option>
                                        @foreach (var state in ViewBag.States as List<DigitalAwareness.Models.State>)
                                        {
                                            <option value="@state.Id">@state.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="State" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="City" class="form-label"></label>
                                    <select asp-for="City" class="form-control" id="citySelect">
                                        <option value="">Select City</option>
                                    </select>
                                    <span asp-validation-for="City" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="Password" class="form-label"></label>
                                    <input asp-for="Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3">
                                    <label asp-for="ConfirmPassword" class="form-label"></label>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-primary w-100">Register</button>
                        </div>
                    </form>

                    <div class="text-center">
                        <p>Already have an account? <a asp-action="Login">Login here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $('#stateSelect').change(function () {
            var stateId = $(this).val();
            if (stateId) {
                $.get('/Account/GetCities', { stateId: stateId }, function (data) {
                    $('#citySelect').empty().append('<option value="">Select City</option>');
                    $.each(data, function (i, city) {
                        $('#citySelect').append('<option value="' + city.text + '">' + city.text + '</option>');
                    });
                });
            } else {
                $('#citySelect').empty().append('<option value="">Select City</option>');
            }
        });
    </script>
}